body
{
background-color: rgb(29, 29, 29);
}
 
.element 
{
object-fit: fill;
}
 
a:hover
{
background-color: rgb(152, 153, 155);
}
 
.header
{
background-color: blue;
 
}
 
.navbar
{
    background-color: rgb(107, 107, 107);
}
 
.footer{
    color: whitesmoke;
    text-align: center;
}
h3{
    color: red;
}